chrome

Module2
  https://github.com/turingschool/intermission-assignments/blob/master/prep-for-module-2.markdown
  https://github.com/turingschool/lesson_plans/blob/master/ruby_02-web_applications_with_ruby/resources.markdown
  http://getbootstrap.com/css/
  http://www.sinatrarb.com/intro.html

Mod2-homework/calendar/overview
  http://today.turing.io/all/
  https://github.com/turingschool/homework/blob/master/module-2-homework.markdown
  https://calendar.google.com/calendar/embed?src=casimircreative.com_rps2hg1nfqjih4rcl3gl6s4lpk@group.calendar.google.com&ctz=America/Denver
  https://github.com/turingschool/lesson_plans/blob/master/ruby_02-web_applications_with_ruby/README.md

Ruby Referencea
  https://blog.udemy.com/ruby-csv/
  http://ruby.bastardsbook.com/
  http://ruby-doc.org/core-1.9.3/Enumerable.html
  http://sql.learncodethehardway.org/book/

Module1
  https://github.com/turingschool/curriculum/blob/master/source/projects/complete_me.markdown
  https://github.com/turingschool/curriculum/blob/master/source/projects/sorting_suite.markdown
  https://github.com/turingschool/ruby-exercises/tree/master/objects-and-methods
  https://github.com/turingschool-examples/testing-dependency-injection
  https://help.github.com/articles/using-keyboard-shortcuts/
  https://pragmaticstudio.com/my_account
  https://github.com/turingschool/waypoints
  https://github.com/turingschool/curriculum/blob/4003d57e556090bdf6c6b5672e50f62de808b539/source/projects/hyde/index.markdown
  https://github.com/turingschool/curriculum/blob/master/source/projects/battleship.markdown
  https://github.com/turingschool/challenges

SoftSkills
  https://docs.google.com/presentation/d/1ukv2wb54yJz56G71q6A3VSaCbLIEW-dOAp92IHzuTHQ/edit#slide=id.g841d1aaa6_0_106
  https://github.com/turingschool/portfolios
  https://docs.google.com/document/d/1zMtgWhODQuP3KBNhrg6PtmPUkw0DIskqgggeyEzYZi4/edit#
  https://github.com/blog/1943-how-to-write-the-perfect-pull-request

https://gist.github.com/Carmer/52b20bbe29d89dfa3f00
https://github.com/turingschool/lesson_plans/blob/master/ruby_02-web_applications_with_ruby/introduction_to_bootstrap.markdown

https://github.com/turingschool/community_content/blob/master/README.markdown
https://github.com/turingschool/ruby-submissions
https://github.com/turingschool/links
http://exercism.io/




Safari


http://www.apple.com/
http://www.yahoo.com/
http://maps.google.com/
http://www.realestateexpress.com/dashboard/myhome/
http://www.keepandshare.com/calendar/show_month.php?i=1938857&date=2014-10-30&noti=y
http://www.lexisnexis.com/hottopics/Colorado/
https://yts.re/home
http://www.walkaboutharnesses.com/products/airprene-plush-knee-brace
http://guides.rubyonrails.org/index.html
http://www.codecademy.com/
http://www.evict123.com/prepare.html
http://www.rcimetalworks.com/07-09-FJ-Cruiser_c10.htm
http://www.courts.state.co.us/Forms/Forms_List.cfm?Form_Type_ID=28
http://www.14ers.com/
http://www.resourceanalysis.com/index.html
http://www.fjfreedomwindows.com/Dealers.html
http://www.myfjcruiser.org/
bookmarks folder “News”
bookmarks folder “Popular”
