/*************************** GENERAL **********************/
body {
  background-size: 100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
}


/*************************** HEADINGS **********************/
/* heading font style, size */

.heading {
  font-weight: bold;

}

/* heading font color */
.heading-white{
  color: white;
}

.heading-black{
  color: black;
}

/*************************** Name Print **********************/
#bold_black_text h3{
  color: #0C0C0C;
}


/*************************** PROFILE **********************/

.profile_center{
  margin-top:10%;
  margin-left:35%
}

.font_size {
  font-size:x-large;
}
