<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <link >
  <link >

  <script src="https://www.google.com/jsapi"></script>
  <script src="/js/chartkick.js"></script>

  <title>ROBOT WORLD</title>

</head>

<body>

  <div class="container">
    <%= yield %>

  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
</body>
</html>
