<style>

    body {
       background-image: url("http://payload401.cargocollective.com/1/16/520739/10329173/last-snapshot_1000.jpg");
     }

</style>

<h1 class="heading heading-white">ROBOT CITY</h1>

<div class="btn-group" role="group" aria-label="...">
  <a href="/robots"><button type="button" class="btn btn-default">Meet the Robots </button></a>
  <a href="/robots/new"><button type="button" class="btn btn-default">Create New Robot</button></a>
  <a href="/robots/stats"><button type="button" class="btn btn-default">Robot Statistic</button></a>
</div>

<div class='container'>
  <div class='row'>
  <div class ='col-md-3'>

</div>
</div>
</div>
