<h1>Create New Robot</h1>

<div class="btn-group" role="group" aria-label="...">
  <a href="/"><button type="button" class="btn btn-default">Robot City </button></a>
  <a href="/robots/stats"><button type="button" class="btn btn-default">Robot Statistic</button></a>
</div>

  <form action="/robots" method ="post">
    <%= erb :_form %>
  </form>
